<a href="https://colab.research.google.com/github/harshi2309cmd/5731-/blob/main/Assignment_1_5731.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

In [3]:
import random
numList=[]
for x in range(12):
  integer = random.randint(1,100)
  numList.append(integer)
print("Randomly generated 12 numbers between 1 to 100: ")
for i in range(len(numList)):
  print(numList[i], end=' ',)

numList.sort()
print("\nAscending Order of the 12 randomly generated numbers: ")
for i in range(len(numList)):
  print(numList[i], end=' ',)

print("\nDescending Order of the 12 randomly generated numbers: ")
numList.sort(reverse=True)
for i in range(len(numList)):
  print(numList[i], end=' ',)

#average to find the random numbers
average = sum(numList) / len(numList)

print('\n The average of numbers in list is:', average)

Randomly generated 12 numbers between 1 to 100:
93 64 56 3 42 56 97 23 25 64 84 47
Ascending Order of the 12 randomly generated numbers:
3 23 25 42 47 56 56 64 64 84 93 97
Descending Order of the 12 randomly generated numbers:
97 93 84 64 64 56 56 47 42 25 23 3
 The average of numbers in list is: 54.5


# Question 2

In [4]:
import re
sen1=input('Enter first sentence:')
lst1= re.findall(r"[\w']+|[.,!?;]", sen1)
sen2=input('Enter second sentence:')
lst2= re.findall(r"[\w']+|[.,!?;]", sen2)
#Compare the two sentences. Print out a list of words that occur in both sentences.
[elem for elem in lst2 if elem in lst1 ]
#checking puntuations
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
no_punction = ""
sentences = sen1, sen2
for i in sentences:
  for char in i:
    if char not in punctuations:
         no_punction = no_punction + char
  print(no_punction)
  no_punction = ""
#check number of the vowels count
vowels = 'aeiou'

count = {}.fromkeys(vowels,0)

sentences = sen1, sen2
for i in sentences:
  for char in i:
     if char in count:
         count[char] += 1

print(count)

Enter first sentence:python is good and dynamic programming language!
Enter second sentence:I am good , quick and dynamic programmer
python is good and dynamic programming language
I am good  quick and dynamic programmer
{'a': 9, 'e': 2, 'i': 5, 'o': 7, 'u': 2}


# Question 3

In [5]:
#calculate the volume  of sphere
import math
from math import pi 
def volume():
  r=[]
  for r in range(1,10):
    v=(4/3)*math.pi*pow(r,3)
    print("volume is",round(v,2))

In [6]:
volume()

volume is 4.19
volume is 33.51
volume is 113.1
volume is 268.08
volume is 523.6
volume is 904.78
volume is 1436.76
volume is 2144.66
volume is 3053.63

# Question 4

In [8]:


import pandas as pd

data = pd.read_csv('Assignment1_denton_housing.csv')
data.head()

#1 calculated the difference in the number of Occupied Housing Units from year to year and sorted the difference 

occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
diff = [list(occupied_houses['value'].values)[loop1] - list(occupied_houses['value'].values)[loop1+1]\
              for loop1 in range(len(occupied_houses)-1)]
diff = sorted(diff)
diff

[-5091, -2622, -1565, -1404, 303, 795]

In [9]:
#2

unique_year = sorted(list(data['year'].unique()))
occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_year
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occupied_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

   year  Vacant House  ...  Percent of Vacant House  Percent of Occupied House
0  2008          4483  ...                10.882653                  89.117347
1  2009          3583  ...                 9.071116                  90.928884
2  2010          3635  ...                 8.142556                  91.857444
3  2011          4213  ...                 9.379522                  90.620478
4  2012          3013  ...                 6.677600                  93.322400
5  2013          4215  ...                 8.801788                  91.198212
6  2014          2814  ...                 5.730111                  94.269889

[7 rows x 5 columns]

In [10]:
#3 no of maximum number of vacant and occupied houses 

max_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
print(vacant_houses)
max_occuped_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
occupied_houses = occupied_houses[occupied_houses['value'] == max_occuped_houses]
print(occupied_houses)

    year           title_field  value
19  2008  Vacant Housing Units   4483
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [11]:
#4 mean calculation
import statistics
print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].value)))

44398.28543969185