# Question 1

In [18]:
import random
numList=[]
for x in range(12):
  integer = random.randint(1,100)
  numList.append(integer)
print("Randomly generated 12 numbers between 1 to 100: ")
for i in range(len(numList)):
  print(numList[i], end=' ',)

numList.sort()
print("\nAscending Order of the 12 randomly generated numbers: ")
for i in range(len(numList)):
  print(numList[i], end=' ',)

print("\nDescending Order of the 12 randomly generated numbers: ")
numList.sort(reverse=True)
for i in range(len(numList)):
  print(numList[i], end=' ',)

Randomly generated 12 numbers between 1 to 100:
98 63 64 37 38 31 57 53 67 83 38 83
Ascending Order of the 12 randomly generated numbers:
31 37 38 38 53 57 63 64 67 83 83 98
Descending Order of the 12 randomly generated numbers:
98 83 83 67 64 63 57 53 38 38 37 31


# Question 2

In [ ]:
import re
def commonWords(A,B):
   result=[]
   #split the sentences
   s1=A.split()
   s2=B.split()
   result.append(list(set(s1)&set(s2)))
   #remove punctuation 
   emptyString=""
   n1=re.sub(r'[^\w\s]',emptyString,A)
   n2=re.sub(r'[^\w\s]',emptyString,B)
   print('string 1 without punctuation:',n1)
   print('string 2 without punctuation:',n2)
   #check vowels and number of times it is repeated
   vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
   for letter in A:
    if letter.lower() in vowels:
     vowels[letter.lower()] += 1
     print("\nVowel frequency ",vowels)

   return result

In [ ]:
commonWords("python is good and dynamic programming language!","I am good , quick and dynamic programmer")

string 1 without punctuation: python is good and dynamic programming language
string 2 without punctuation: I am good  quick and dynamic programmer

Vowel frequency  {'a': 0, 'e': 0, 'i': 0, 'o': 1, 'u': 0}

Vowel frequency  {'a': 0, 'e': 0, 'i': 1, 'o': 1, 'u': 0}

Vowel frequency  {'a': 0, 'e': 0, 'i': 1, 'o': 2, 'u': 0}

Vowel frequency  {'a': 0, 'e': 0, 'i': 1, 'o': 3, 'u': 0}

Vowel frequency  {'a': 1, 'e': 0, 'i': 1, 'o': 3, 'u': 0}

Vowel frequency  {'a': 2, 'e': 0, 'i': 1, 'o': 3, 'u': 0}

Vowel frequency  {'a': 2, 'e': 0, 'i': 2, 'o': 3, 'u': 0}

Vowel frequency  {'a': 2, 'e': 0, 'i': 2, 'o': 4, 'u': 0}

Vowel frequency  {'a': 3, 'e': 0, 'i': 2, 'o': 4, 'u': 0}

Vowel frequency  {'a': 3, 'e': 0, 'i': 3, 'o': 4, 'u': 0}

Vowel frequency  {'a': 4, 'e': 0, 'i': 3, 'o': 4, 'u': 0}

Vowel frequency  {'a': 4, 'e': 0, 'i': 3, 'o': 4, 'u': 1}

Vowel frequency  {'a': 5, 'e': 0, 'i': 3, 'o': 4, 'u': 1}

Vowel frequency  {'a': 5, 'e': 1, 'i': 3, 'o': 4, 'u': 1}

[['and', 'good', 'dynamic']]


# Question 3

In [ ]:

import math
from math import pi 
def volume():
  r=[]
  for r in range(1,10):
    v=(4/3)*math.pi*pow(r,3)
    print("volume is",round(v,2))

In [ ]:
volume()

volume is 4.19
volume is 33.51
volume is 113.1
volume is 268.08
volume is 523.6
volume is 904.78
volume is 1436.76
volume is 2144.66
volume is 3053.63

# Question 4

In [ ]:


import pandas as pd

data = pd.read_csv('Assignment1_denton_housing.csv')
data.head()

#1

occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
diff = [list(occupied_houses['value'].values)[loop1] - list(occupied_houses['value'].values)[loop1+1]\
              for loop1 in range(len(occupied_houses)-1)]
diff = sorted(diff)
diff

[-5091, -2622, -1565, -1404, 303, 795]

In [ ]:
#2

unique_year = sorted(list(data['year'].unique()))
occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_year
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occupied_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

   year  Vacant House  ...  Percent of Vacant House  Percent of Occupied House
0  2008          4483  ...                10.882653                  89.117347
1  2009          3583  ...                 9.071116                  90.928884
2  2010          3635  ...                 8.142556                  91.857444
3  2011          4213  ...                 9.379522                  90.620478
4  2012          3013  ...                 6.677600                  93.322400
5  2013          4215  ...                 8.801788                  91.198212
6  2014          2814  ...                 5.730111                  94.269889

[7 rows x 5 columns]

In [ ]:
#3

max_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
print(vacant_houses)
max_occuped_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
occupied_houses = occupied_houses[occupied_houses['value'] == max_occuped_houses]
print(occupied_houses)

    year           title_field  value
19  2008  Vacant Housing Units   4483
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [ ]:
#4
import statistics
print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].value)))

44398.28543969185