In [1]:
# Write a Python program to calculate the length of a string

string = input("Enter a string: ")
i = 0
for s in string:
      i = i+1
print("Length of the input string is:", i)

Enter a string: harshitha
Length of the input string is: 9

In [4]:
# Write a Python program to count the number of characters in a string.

def count(str):
    dict = {}
    for i in str:
        keys = dict.keys()
        if i in keys:
            dict[i] += 1
        else:
            dict[i] = 1
    return dict
print(count('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [36]:
#Write a Python program to sum all the items in a list.

def sum(items):
    n = 0
    for x in items:
        n += x
    return n
print(sum([1,-2,9]))

8

In [6]:
 #Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.
 
 def occur(str):
  char = str[0]
  str = str.replace(char, '$')
  str = char + str[1:]

  return str

print(occur('restart'))

resta$t

In [15]:
#Write a program with python which could accept two parameter a and b to calculate and output the result of S.

from math import pi
a = float(input ("Input the value of a : "))
b = float(input ("Input the value of b: "))
print ("s : " + str(pi * (1+a/b)**3))

Input the value of a : 3
Input the value of b: 6
s : 10.602875205865551

In [11]:
#Write a Python program to concatenate following dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
#Write a Python program to check whether an element exists within a tuple.

tuple={'1',"h","r","s","i","a"}
print(2 in tuple)
print("h" in tuple)

False
True

In [14]:
#Write a Python program to find maximum and the minimum value in a set.
set = {5, 10, 3, 15, 2, 20}
print("Maximum value of the set:")
print(max(set))
print("Minimum value of the set:")
print(min(set))

Maximum value of the set:
20
Minimum value of the set:
2

In [35]:
#Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
length_to_split = []
for i in range(6):
 length_to_split.append(random.randint(4,6))
 for i in range(5):
  if sum(length_to_split)!=len(studnet_list):
   if length_to_split[i]==3 or length_to_split[i]==4:
    length_to_split[i] = length_to_split[i] + 1
   else:
    break
Input = iter(studnet_list)
Output = [list(islice(Input, elem)) for elem in length_to_split]
  
print("Initial list is:", studnet_list )
print("Split length list:", length_to_split)
print("List after splitting:", Output)

Initial list is: ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091', 'py0080', 'ttp0037', 'hc0439', 'ri0094', 'pk0339', 'hn0145', 'mn0426']
Split length list: [5, 6, 6, 4, 6, 5]
List after splitting: [['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547'], ['pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995'], ['at0739', 'at0768', 'mv0299', 'tv0119'], ['dy0091', 'py0080', 'ttp0037', 'hc0439', 'ri0094', 'pk0339'], ['hn0145', 'mn0426']]

In [22]:
#Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. 
def Duplicates(array):
    result = []
    for x in array:
        if (array.count(x)>1) and (x not in result):
            result.append(x)
    if len(result)==0:
        return -1
    else:
        return result
print(Duplicates([3,2,4,3,2,5,3,7]))
print(Duplicates([4,2,3,1,5]))

[3, 2]
-1

In [19]:
#Write a Python program to select all the Sundays of a specified year. 
import pandas as pd
def allsundays(year):
    return pd.date_range(start=str(year), end=str(year+1), 
                         freq='W-SUN').strftime('%m/%d/%Y').tolist()

allsundays(2021)

['01/03/2021',
 '01/10/2021',
 '01/17/2021',
 '01/24/2021',
 '01/31/2021',
 '02/07/2021',
 '02/14/2021',
 '02/21/2021',
 '02/28/2021',
 '03/07/2021',
 '03/14/2021',
 '03/21/2021',
 '03/28/2021',
 '04/04/2021',
 '04/11/2021',
 '04/18/2021',
 '04/25/2021',
 '05/02/2021',
 '05/09/2021',
 '05/16/2021',
 '05/23/2021',
 '05/30/2021',
 '06/06/2021',
 '06/13/2021',
 '06/20/2021',
 '06/27/2021',
 '07/04/2021',
 '07/11/2021',
 '07/18/2021',
 '07/25/2021',
 '08/01/2021',
 '08/08/2021',
 '08/15/2021',
 '08/22/2021',
 '08/29/2021',
 '09/05/2021',
 '09/12/2021',
 '09/19/2021',
 '09/26/2021',
 '10/03/2021',
 '10/10/2021',
 '10/17/2021',
 '10/24/2021',
 '10/31/2021',
 '11/07/2021',
 '11/14/2021',
 '11/21/2021',
 '11/28/2021',
 '12/05/2021',
 '12/12/2021',
 '12/19/2021',
 '12/26/2021']