<a href="https://colab.research.google.com/github/harshi2309cmd/5731-/blob/main/In_class_exercise_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (9/29/2021, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [45]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

"""Text Classification using machine learning consists of providing imput to a text document where we keep pre-defined classes,which is based on the collection of the documents and features.
In-text classification statistical analysis is used to provide analytical and comparative research for feature selection using Clustering,Naïve Bayes, Decision Tree, Neural Network, Support Vector Machines, Hybrid techniques.
Let us consider a text file with the data,where we use basic pre-processing data to clean the text file data and then the text file sentence to words and then we use those for the training and testing the machine learning models.
There are various kind of features which are useful in building the machine learning model are:
1.Term frequency
2.Inverse Document Frequency
3.Term Frequency – Inverse Document Frequency (TF-IDF)
4.Bag of Words
5.POS tagging
There are several ways of calculating this frequency, where we can have a raw count of instances a word appears in a document.we can adjust the frequency, by length of a document, or by the raw frequency of the most frequent word in a document.it is useful to count the number of occurance.
The inverse document frequency of the word across a set of documents. which means how common or rare a word is in the whole document text. The closer it is to 0, the more common a word is in.
TF-IDF is the multiplication of TF and IDF where it mainly calculates "can't","don't","use" words where they are commonly repeated and helps us to caluculate the sentiment analysis.we can also do this feature caluculation without TF and IDF by sklearn.
Bag of Words represents the presence of words with the text data where it contains and calculates the two silmilar words.
Pos tagging is known parts of speech tagging where it calculates the count of english parts of words such as noun,verb,adjective and adverb.
"""

'Text Classification using machine learning consists of providing imput to a text document where we keep pre-defined classes,which is based on the collection of the documents and features.\nIn-text classification statistical analysis is used to provide analytical and comparative research for feature selection using Clustering,Naïve Bayes, Decision Tree, Neural Network, Support Vector Machines, Hybrid techniques.\nLet us consider a text file with the data,where we use basic pre-processing data to clean the text file data and then the text file sentence to words and then we use those for the training and testing the machine learning models.\nThere are various kind of features which are useful in building the machine learning model are:\n1.Term frequency\n2.Inverse Document Frequency\n3.Term Frequency – Inverse Document Frequency (TF-IDF)\n4.Bag of Words\n5.POS tagging\nThere are several ways of calculating this frequency, where we can have a raw count of instances a word appears in a document.we can adjust the frequency, by length of a document, or by the raw frequency of the most frequent word in a document.it is useful to count the number of occurance.\nThe inverse document frequency of the word across a set of documents. which means how common or rare a word is in the whole document text. The closer it is to 0, the more common a word is in.\nTF-IDF is the multiplication of TF and IDF where it mainly calculates "can\'t","don\'t","use" words where they are commonly repeated and helps us to caluculate the sentiment analysis.we can also do this feature caluculation without TF and IDF by sklearn.\nBag of Words represents the presence of words with the text data where it contains and calculates the two silmilar words.\nPos tagging is known parts of speech tagging where it calculates the count of english parts of words such as noun,verb,adjective and adverb.\n'

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [46]:
#importing required libraries
import pandas as pd
train = pd.read_csv ('assignment.txt', sep='delimiter', header=None)
train.columns =['Sent']
data_top = train
# display 
data_top .head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

                                                Sent
0  A 67-year-old woman with congenital bicuspid a...
1  A 12-year-old girl is brought to the physician...
2  During an experiment, drug X is added to a mus...
3  A 30-year-old woman, gravida 2, para 0, aborta...
4  A 55-year-old man is brought to the emergency ...

In [47]:
train['word_count'] = train['Sent'].apply(lambda x: len(str(x).split(" ")))

#text with word count
print('\n\nWORD COUNT\n\n')
train[['Sent','word_count']].head()

WORD COUNT

                                                Sent  word_count
0  A 67-year-old woman with congenital bicuspid a...         108
1  A 12-year-old girl is brought to the physician...          83
2  During an experiment, drug X is added to a mus...          38
3  A 30-year-old woman, gravida 2, para 0, aborta...         103
4  A 55-year-old man is brought to the emergency ...          48

In [48]:

# number of characters
print('\n\nNUMBER OF CHARACTERS\n\n')
train['char_count'] = train['Sent'].str.len() ## this also includes spaces
train[['Sent','char_count']].head()

NUMBER OF CHARACTERS

                                                Sent  char_count
0  A 67-year-old woman with congenital bicuspid a...         718
1  A 12-year-old girl is brought to the physician...         517
2  During an experiment, drug X is added to a mus...         213
3  A 30-year-old woman, gravida 2, para 0, aborta...         644
4  A 55-year-old man is brought to the emergency ...         314

In [49]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))
print('\n\nAverage Word Length\n\n')
train['avg_word'] = train['Sent'].apply(lambda x: avg_word(x))
train[['Sent','avg_word']].head()

Average Word Length

                                                Sent  avg_word
0  A 67-year-old woman with congenital bicuspid a...  5.657407
1  A 12-year-old girl is brought to the physician...  5.240964
2  During an experiment, drug X is added to a mus...  4.631579
3  A 30-year-old woman, gravida 2, para 0, aborta...  5.262136
4  A 55-year-old man is brought to the emergency ...  5.562500

In [50]:

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop = stopwords.words('english')

train['stopwords'] = train['Sent'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Sent','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                                Sent  stopwords
0  A 67-year-old woman with congenital bicuspid a...         38
1  A 12-year-old girl is brought to the physician...         33
2  During an experiment, drug X is added to a mus...         15
3  A 30-year-old woman, gravida 2, para 0, aborta...         32
4  A 55-year-old man is brought to the emergency ...         17

In [52]:
train['hastags'] = train['Sent'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['Sent','hastags']].head()

                                                Sent  hastags
0  A 67-year-old woman with congenital bicuspid a...        0
1  A 12-year-old girl is brought to the physician...        0
2  During an experiment, drug X is added to a mus...        0
3  A 30-year-old woman, gravida 2, para 0, aborta...        0
4  A 55-year-old man is brought to the emergency ...        0

In [53]:
train['numerics'] = train['Sent'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['Sent','numerics']].head(10)

                                                Sent  numerics
0  A 67-year-old woman with congenital bicuspid a...         0
1  A 12-year-old girl is brought to the physician...         2
2  During an experiment, drug X is added to a mus...         0
3  A 30-year-old woman, gravida 2, para 0, aborta...         2
4  A 55-year-old man is brought to the emergency ...         1
5  A 52-year-old woman begins pharmacotherapy aft...         1
6  An asymptomatic 44-year-old man is found to ha...         0
7  A 23-year-old woman with bone marrow failure i...         0
8  After being severely beaten and sustaining a g...         0

In [54]:
train['upper'] = train['Sent'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['Sent','upper']].head()

                                                Sent  upper
0  A 67-year-old woman with congenital bicuspid a...      3
1  A 12-year-old girl is brought to the physician...      3
2  During an experiment, drug X is added to a mus...      1
3  A 30-year-old woman, gravida 2, para 0, aborta...      3
4  A 55-year-old man is brought to the emergency ...      2

In [55]:
train['Sent'] = train['Sent'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Sent'].head()

0    a 67-year-old woman with congenital bicuspid a...
1    a 12-year-old girl is brought to the physician...
2    during an experiment, drug x is added to a mus...
3    a 30-year-old woman, gravida 2, para 0, aborta...
4    a 55-year-old man is brought to the emergency ...
Name: Sent, dtype: object

In [56]:
train['Sent'] = train['Sent'].str.replace('[^\w\s]','')
train['Sent'].head()

0    a 67yearold woman with congenital bicuspid aor...
1    a 12yearold girl is brought to the physician b...
2    during an experiment drug x is added to a musc...
3    a 30yearold woman gravida 2 para 0 aborta 1 at...
4    a 55yearold man is brought to the emergency de...
Name: Sent, dtype: object

In [57]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['Sent'] = train['Sent'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Sent'].head()

0    67yearold woman congenital bicuspid aortic val...
1    12yearold girl brought physician 2month histor...
2    experiment drug x added muscle bath containing...
3    30yearold woman gravida 2 para 0 aborta 1 28 w...
4    55yearold man brought emergency department sho...
Name: Sent, dtype: object

In [58]:

freq = pd.Series(' '.join(train['Sent']).split()).value_counts()[:10]
freq

following      7
likely         6
blood          6
shows          6
woman          5
examination    4
physician      3
gestation      3
weeks          3
muscle         3
dtype: int64

In [59]:
freq = list(freq.index)
train['Sent'] = train['Sent'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Sent'].head()

0    67yearold congenital bicuspid aortic valve adm...
1    12yearold girl brought 2month history intermit...
2    experiment drug x added bath containing strip ...
3    30yearold gravida 2 para 0 aborta 1 28 comes o...
4    55yearold man brought emergency department sho...
Name: Sent, dtype: object

In [60]:
freq = pd.Series(' '.join(train['Sent']).split()).value_counts()[-10:]
freq

injury      1
prior       1
except      1
rhod        1
uterus      1
right       1
viridans    1
routine     1
agonists    1
prevent     1
dtype: int64

In [61]:
freq = list(freq.index)
train['Sent'] = train['Sent'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Sent'].head()

0    67yearold congenital bicuspid aortic valve adm...
1    12yearold girl brought 2month history intermit...
2    experiment drug x added bath containing strip ...
3    30yearold gravida 2 para 0 aborta 1 28 comes o...
4    55yearold man brought emergency department sho...
Name: Sent, dtype: object

In [62]:
from textblob import TextBlob
train['Sent'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    67yearold congenital bicuspid aortic valve adm...
1    12yearold girl brought month history intermitt...
2    experiment drug x added bath containing strip ...
3    30yearold gravid 2 para 0 aorta 1 28 comes off...
4    55yearold man brought emergency department sho...
Name: Sent, dtype: object

In [63]:
import nltk
nltk.download('punkt')
TextBlob(train['Sent'][0]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

WordList(['67yearold', 'congenital', 'bicuspid', 'aortic', 'valve', 'admitted', 'hospital', '2day', 'history', 'fever', 'chills', 'current', 'medication', 'lisinopril', 'temperature', '380c', '1004f', 'pulse', '90min', 'respirations', '20min', 'pressure', '11070', 'mm', 'hg', 'cardiac', 'grade', '36', 'systolic', 'murmur', 'best', 'heard', 'second', 'intercostal', 'space', 'culture', 'grows', 'streptococci', 'susceptible', 'penicillin', 'addition', 'penicillin', 'antibiotic', 'synergistic', 'penicillin', 'administered', 'may', 'help', 'shorten', 'duration', 'patients', 'drug', 'treatment', 'mechanism', 'action', 'additional', 'antibiotic', 'bacteria'])

In [64]:
#term frequency
tf1 = (train['Sent'][0:10]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

              words   tf
0        penicillin  3.0
1        antibiotic  2.0
2          addition  1.0
3      administered  1.0
4             pulse  1.0
..              ...  ...
262           needs  1.0
263  reconstruction  1.0
264       42yearold  1.0
265        severely  1.0
266          weekly  1.0

[267 rows x 2 columns]

In [65]:
#pos speech
from nltk.tokenize import word_tokenize
import nltk
nltk.download('averaged_perceptron_tagger')
text_tags = []
for s in train['Sent']:
  text = word_tokenize(str(s))
  text_tags.append(nltk.pos_tag(text))
text_tags

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

[[('67yearold', 'CD'),
  ('congenital', 'JJ'),
  ('bicuspid', 'JJ'),
  ('aortic', 'JJ'),
  ('valve', 'NN'),
  ('admitted', 'VBD'),
  ('hospital', 'JJ'),
  ('2day', 'CD'),
  ('history', 'NN'),
  ('fever', 'NN'),
  ('chills', 'VBZ'),
  ('current', 'JJ'),
  ('medication', 'NN'),
  ('lisinopril', 'NN'),
  ('temperature', 'NN'),
  ('380c', 'CD'),
  ('1004f', 'CD'),
  ('pulse', 'JJ'),
  ('90min', 'CD'),
  ('respirations', 'NNS'),
  ('20min', 'CD'),
  ('pressure', 'NN'),
  ('11070', 'CD'),
  ('mm', 'NN'),
  ('hg', 'NN'),
  ('cardiac', 'JJ'),
  ('grade', 'NN'),
  ('36', 'CD'),
  ('systolic', 'JJ'),
  ('murmur', 'NN'),
  ('best', 'JJS'),
  ('heard', 'NN'),
  ('second', 'JJ'),
  ('intercostal', 'JJ'),
  ('space', 'NN'),
  ('culture', 'NN'),
  ('grows', 'VBZ'),
  ('streptococci', 'NN'),
  ('susceptible', 'JJ'),
  ('penicillin', 'NN'),
  ('addition', 'NN'),
  ('penicillin', 'NN'),
  ('antibiotic', 'JJ'),
  ('synergistic', 'JJ'),
  ('penicillin', 'NN'),
  ('administered', 'VBD'),
  ('may', 'MD'),
  ('help', 'VB'),
  ('shorten', 'VB'),
  ('duration', 'JJ'),
  ('patients', 'NNS'),
  ('drug', 'NN'),
  ('treatment', 'NN'),
  ('mechanism', 'NN'),
  ('action', 'NN'),
  ('additional', 'JJ'),
  ('antibiotic', 'JJ'),
  ('bacteria', 'NNS')],
 [('12yearold', 'CD'),
  ('girl', 'NN'),
  ('brought', 'VBD'),
  ('2month', 'CD'),
  ('history', 'NN'),
  ('intermittent', 'NN'),
  ('yellowing', 'VBG'),
  ('eyes', 'NNS'),
  ('skin', 'JJ'),
  ('physical', 'JJ'),
  ('abnormalities', 'NNS'),
  ('jaundice', 'NN'),
  ('serum', 'NN'),
  ('total', 'JJ'),
  ('bilirubin', 'NN'),
  ('concentration', 'NN'),
  ('3', 'CD'),
  ('mgdl', 'NN'),
  ('direct', 'JJ'),
  ('component', 'NN'),
  ('1', 'CD'),
  ('mgdl', 'NN'),
  ('serum', 'NN'),
  ('studies', 'NNS'),
  ('show', 'VBP'),
  ('haptoglobin', 'JJ'),
  ('concentration', 'NN'),
  ('ast', 'IN'),
  ('alt', 'JJ'),
  ('activities', 'NNS'),
  ('within', 'IN'),
  ('reference', 'NN'),
  ('ranges', 'VBZ'),
  ('evidence', 'NN'),
  ('exposure', 'NN'),
  ('toxins', 'VBZ'),
  ('additional', 'JJ'),
  ('findings', 'NNS'),
  ('patient', 'NN')],
 [('experiment', 'JJ'),
  ('drug', 'NN'),
  ('x', 'NNP'),
  ('added', 'VBD'),
  ('bath', 'NN'),
  ('containing', 'VBG'),
  ('strip', 'JJ'),
  ('guinea', 'NN'),
  ('pig', 'JJ'),
  ('intestinal', 'JJ'),
  ('smooth', 'NN'),
  ('added', 'VBD'),
  ('bath', 'NN'),
  ('resultant', 'NN'),
  ('effects', 'NNS'),
  ('tension', 'VBP'),
  ('shown', 'VBN'),
  ('table', 'NN')],
 [('30yearold', 'CD'),
  ('gravida', 'JJ'),
  ('2', 'CD'),
  ('para', 'NN'),
  ('0', 'CD'),
  ('aborta', 'NN'),
  ('1', 'CD'),
  ('28', 'CD'),
  ('comes', 'VBZ'),
  ('office', 'NN'),
  ('prenatal', 'JJ'),
  ('visit', 'NN'),
  ('one', 'CD'),
  ('previous', 'JJ'),
  ('pregnancy', 'NN'),
  ('resulting', 'VBG'),
  ('spontaneous', 'JJ'),
  ('abortion', 'NN'),
  ('12', 'CD'),
  ('today', 'NN'),
  ('vital', 'JJ'),
  ('signs', 'NNS'),
  ('within', 'IN'),
  ('normal', 'JJ'),
  ('limits', 'NNS'),
  ('physical', 'JJ'),
  ('consistent', 'JJ'),
  ('size', 'NN'),
  ('28week', 'CD'),
  ('fetal', 'JJ'),
  ('ultrasonography', 'JJ'),
  ('male', 'NN'),
  ('fetus', 'NN'),
  ('abnormalities', 'NNS'),
  ('group', 'NN'),
  ('rhnegative', 'JJ'),
  ('fathers', 'NNS'),
  ('group', 'NN'),
  ('b', 'VBD'),
  ('rhpositive', 'JJ'),
  ('recommends', 'NNS'),
  ('administration', 'NN'),
  ('immune', 'VBP'),
  ('globulin', 'JJ'),
  ('patient', 'NN'),
  ('treatment', 'NN'),
  ('mother', 'NN')],
 [('55yearold', 'CD'),
  ('man', 'NN'),
  ('brought', 'VBD'),
  ('emergency', 'NN'),
  ('department', 'NN'),
  ('shortness', 'NN'),
  ('breath', 'IN'),
  ('confusion', 'NN'),
  ('4', 'CD'),
  ('hours', 'NNS'),
  ('hypertension', 'NN'),
  ('chronic', 'JJ'),
  ('kidney', 'NN'),
  ('disease', 'NN'),
  ('requiring', 'VBG'),
  ('hemodialysis', 'NN'),
  ('ecg', 'RB'),
  ('low', 'JJ'),
  ('voltage', 'NN'),
  ('electrical', 'JJ'),
  ('alternans', 'NNS'),
  ('physical', 'JJ'),
  ('show', 'NN'),
  ('findings', 'NNS')],
 [('52yearold', 'CD'),
  ('begins', 'NNS'),
  ('pharmacotherapy', 'VBP'),
  ('diagnosed', 'VBN'),
  ('type', 'NN'),
  ('2', 'CD'),
  ('diabetes', 'NNS'),
  ('mellitus', 'RB'),
  ('four', 'CD'),
  ('later', 'RBR'),
  ('hepatic', 'JJ'),
  ('glucose', 'NN'),
  ('output', 'NN'),
  ('decreased', 'VBD'),
  ('target', 'NN'),
  ('tissue', 'NN'),
  ('glucose', 'JJ'),
  ('uptake', 'JJ'),
  ('utilization', 'NN'),
  ('increased', 'VBD'),
  ('drugs', 'NNS'),
  ('prescribed', 'VBN'),
  ('patient', 'NN')],
 [('asymptomatic', 'JJ'),
  ('44yearold', 'CD'),
  ('man', 'NN'),
  ('found', 'VBD'),
  ('hiv', 'JJ'),
  ('infection', 'NN'),
  ('screening', 'VBG'),
  ('donating', 'VBG'),
  ('complete', 'JJ'),
  ('count', 'NN'),
  ('done', 'VBN'),
  ('time', 'NN'),
  ('screening', 'VBG')],
 [('23yearold', 'CD'),
  ('bone', 'NN'),
  ('marrow', 'NN'),
  ('failure', 'NN'),
  ('treated', 'VBD'),
  ('large', 'JJ'),
  ('dose', 'JJ'),
  ('rabbit', 'NN'),
  ('antithymocyte', 'JJ'),
  ('globulin', 'NN'),
  ('ten', 'CD'),
  ('days', 'NNS'),
  ('later', 'RB'),
  ('develops', 'VBP'),
  ('fever', 'RB'),
  ('lymphadenopathy', 'JJ'),
  ('arthralgias', 'NNS'),
  ('erythema', 'VBP'),
  ('hands', 'VBZ'),
  ('feet', 'NNS'),
  ('cause', 'NN'),
  ('symptoms', 'NNS')],
 [('severely', 'RB'),
  ('beaten', 'JJ'),
  ('sustaining', 'VBG'),
  ('gunshot', 'JJ'),
  ('wound', 'NN'),
  ('abdomen', 'NNS'),
  ('42yearold', 'CD'),
  ('undergoes', 'JJ'),
  ('resection', 'NN'),
  ('perforated', 'VBD'),
  ('small', 'JJ'),
  ('bowel', 'NN'),
  ('operation', 'NN'),
  ('plastic', 'JJ'),
  ('reconstruction', 'NN'),
  ('facial', 'JJ'),
  ('fractures', 'NNS'),
  ('open', 'JJ'),
  ('reduction', 'NN'),
  ('internal', 'JJ'),
  ('fixation', 'NN'),
  ('left', 'VBD'),
  ('femur', 'NN'),
  ('also', 'RB'),
  ('done', 'VBN'),
  ('thirtysix', 'NN'),
  ('hours', 'NNS'),
  ('postoperatively', 'RB'),
  ('awake', 'VBP'),
  ('completely', 'RB'),
  ('alert', 'JJ'),
  ('receiving', 'VBG'),
  ('intravenous', 'JJ'),
  ('morphine', 'NN'),
  ('via', 'IN'),
  ('patientcontrolled', 'VBN'),
  ('pump', 'NN'),
  ('says', 'VBZ'),
  ('needs', 'VBZ'),
  ('morphine', 'JJ'),
  ('treat', 'NN'),
  ('pain', 'NN'),
  ('worried', 'VBD'),
  ('becoming', 'VBG'),
  ('addicted', 'VBN'),
  ('history', 'NN'),
  ('substance', 'NN'),
  ('use', 'NN'),
  ('disorder', 'NN'),
  ('drinks', 'NNS'),
  ('one', 'CD'),
  ('two', 'CD'),
  ('glasses', 'NNS'),
  ('wine', 'JJ'),
  ('weekly', 'JJ'),
  ('initial', 'JJ'),
  ('actions', 'NNS'),
  ('appropriate', 'VBP')]]

In [ ]:
#

In [66]:
!pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (2.2.4)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (7.4.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.19.5)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.8.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.62.3)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy) (4.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy) (3.5.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)

In [67]:
!python -m spacy download en_core_web_sm

Collecting en_core_web_sm==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz (12.0 MB)
     |████████████████████████████████| 12.0 MB 5.3 MB/s
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.7/dist-packages (from en_core_web_sm==2.2.5) (2.2.4)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (4.62.3)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (7.4.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.19.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.8.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.0.5)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (57.4.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.23.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.5)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (4.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.5.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.4)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [72]:

import spacy
# nlp = spacy.load("en_core_web_sm")
import en_core_web_sm
nlp = en_core_web_sm.load()

entity_types = ['PERSON','NORP','FAC','ORG','GPE','LOC','PRODUCT','EVENT','WORK_OF_ART','LAW',
                'LANGUAGE','DATE','TIME','PERCENT','MONEY','QUANTITY','ORDINAL','CARDINAL']

entity_name = ['person','Nationality','Building','Institution','country','location','PRODUCT','EVENT','Title','LAW',
                'LANGUAGE','DATE','TIME','PERCENT','MONEY','QUANTITY','ORDINAL','CARDINAL']

def entity_extraction(sentence):
    entity_list = []
    doc = nlp(sentence)
    for ent in doc.ents:
        entity_list.append([ent.text, ent.start_char, ent.end_char, ent.label_])
    
    return entity_list

In [74]:
#Inverse Document Frequency
import numpy as np

for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['Sent'].str.contains(word)])))

tf1

              words   tf       idf
0        penicillin  3.0  2.197225
1        antibiotic  2.0  2.197225
2          addition  1.0  1.504077
3      administered  1.0  2.197225
4             pulse  1.0  2.197225
..              ...  ...       ...
262           needs  1.0  2.197225
263  reconstruction  1.0  2.197225
264       42yearold  1.0  2.197225
265        severely  1.0  2.197225
266          weekly  1.0  2.197225

[267 rows x 3 columns]

In [75]:
#Term Frequency – Inverse Document Frequency (TF-IDF)
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

              words   tf       idf     tfidf
0        penicillin  3.0  2.197225  6.591674
1        antibiotic  2.0  2.197225  4.394449
2          addition  1.0  1.504077  1.504077
3      administered  1.0  2.197225  2.197225
4             pulse  1.0  2.197225  2.197225
..              ...  ...       ...       ...
262           needs  1.0  2.197225  2.197225
263  reconstruction  1.0  2.197225  2.197225
264       42yearold  1.0  2.197225  2.197225
265        severely  1.0  2.197225  2.197225
266          weekly  1.0  2.197225  2.197225

[267 rows x 4 columns]

In [76]:
#Bag of Words
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=50, lowercase=True, ngram_range=(1,3),analyzer = "word")
train_bow = bow.fit_transform(train['Sent'])
bow.get_feature_names()

['abnormalities',
 'added',
 'added bath',
 'additional',
 'antibiotic',
 'bath',
 'brought',
 'concentration',
 'done',
 'drug',
 'fever',
 'findings',
 'globulin',
 'glucose',
 'group',
 'history',
 'hours',
 'later',
 'man',
 'mgdl',
 'morphine',
 'normal',
 'normal limits',
 'normal limits physical',
 'office',
 'office prenatal',
 'office prenatal visit',
 'one',
 'one previous',
 'one previous pregnancy',
 'one two',
 'one two glasses',
 'operation',
 'operation plastic',
 'operation plastic reconstruction',
 'output',
 'output decreased',
 'patient',
 'patientcontrolled pump',
 'patientcontrolled pump says',
 'patients',
 'patients drug',
 'patients drug treatment',
 'penicillin',
 'physical',
 'screening',
 'serum',
 'show',
 'treatment',
 'within']

In [77]:
#Sentiment analysis

train['Sent'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (0.21000000000000002, 0.15999999999999998)
1     (0.03333333333333333, 0.4309523809523809)
2                                    (0.4, 0.5)
3     (0.13333333333333333, 0.3727891156462585)
4                    (0.0, 0.22142857142857142)
Name: Sent, dtype: object

In [78]:
train['sentiment'] = train['Sent'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['Sent','sentiment']].head()

                                                Sent  sentiment
0  67yearold congenital bicuspid aortic valve adm...   0.210000
1  12yearold girl brought 2month history intermit...   0.033333
2  experiment drug x added bath containing strip ...   0.400000
3  30yearold gravida 2 para 0 aborta 1 28 comes o...   0.133333
4  55yearold man brought emergency department sho...   0.000000

In [73]:
sentence = "Apple is looking at buying U.K. startup for $1 billion"

entity_list = entity_extraction(sentence)
print(entity_list)

[['Apple', 0, 5, 'ORG'], ['U.K.', 27, 31, 'GPE'], ['$1 billion', 44, 54, 'MONEY']]

Question 3

In [84]:

#Select raw items longer than 100 words and assign them to a new dataframe entitled df_long items
long_items = []
for item in train['Sent']:
    if len(item.split())>= 100:
        long_items.append(item)   
df_long_items = pd.DataFrame({"Long Items": long_items})

#Check the shape of the new dataframe (rows and columns)
df_long_items.shape

(0, 1)

In [83]:
!pip install Readability

# The Flesch-Kincaid Grade Level formula is computed as follows:
#0.39 x(total words/total sentences) + 11.8 x(total syllables/total words)- 15.59

def FK(text):
    r = Readability(text)
    fk = r.flesch_kincaid()
df_long_items['FK_Grade_Level'] = df_long_items['Long Items'].apply(FK)
df_long_items.head()

Collecting Readability
  Downloading readability-0.3.1.tar.gz (34 kB)
Building wheels for collected packages: Readability
  Building wheel for Readability (setup.py) ... done
  Created wheel for Readability: filename=readability-0.3.1-py3-none-any.whl size=35476 sha256=e8902d88a20faa209c9c8a52618852689ef6fc5c09eaf30cb3710288d0a35d60
  Stored in directory: /root/.cache/pip/wheels/b9/8b/5a/ba40b81d8e91c7bc1d4226fa51d7b5943d147be122df515c19
Successfully built Readability
Installing collected packages: Readability
Successfully installed Readability-0.3.1

Empty DataFrame
Columns: [Long Items, FK_Grade_Level]
Index: []